.battleship-gameboard {
    display: flex;
    gap: 2em;
    justify-content: center;
}

.ships {
    display: flex;
    justify-content: space-evenly;
    
    gap: 1em;
    margin: 1em auto;

}

.ship {
    border: 1px solid black;
    padding: 1em;
}

.orientation {
    width: 200px;
    display: flex;
    justify-content: center;
    gap: 1em;
    margin: 1em auto;
}

.occupied {
    background-color: blue;
}

.active {
    background-color: green;
}

.placed {
    background-color: green;
}

.battleship-gameboard-player {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    justify-content: center;
}

.battleship-gameboard-enemy {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    justify-content: center;
}

.hit {
    background-color: red;
}

.missed {
    background-color: black;
}

@media (max-width: 600px) {
       .battleship-gameboard-player {
        grid-template-columns: repeat(10, 30px);
        grid-template-rows: repeat(10, 30px);
    }
    
    .ships {
        gap: 0.5em;
        margin: 0.5em auto;
    
    }
    
    .ship {
        padding: 0.5em;
    }
    
    .orientation {
        width: 200px;
        display: flex;
        justify-content: center;
        gap: 1em;
        margin: 1em auto;
    }
}