.battleship-gameboard {
    display: flex;
    gap: 2em;
    justify-content: center;
}

.ships {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
    margin: 1em auto;
}

.ship {
    border: 1px solid $color4;
    padding: 1em;
}

.orientation {
    width: 200px;
    display: flex;
    justify-content: center;
    gap: 1em;
    margin: 1em auto;
}

.occupied {
    background-color: $color4;
}

.active {
    background-color: $color2;
    color: $color1;
}

.placed {
    background-color: $color4;
}

.battleship-gameboard-player {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    justify-content: center;
}

.battleship-gameboard-enemy {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    justify-content: center;
}

h2 {
    text-align: center;
    margin: 1em;
}

.hit {
    background-color: hsl(0, 82%, 48%);
}

.missed {
    background-color: hsl(200, 2%, 25%);
}

.message {
    color: $color2
}

.end-turn {
    button {
        background-color: $color1;
        color: $color5;
        border: 1px solid $color2; 
    }
    
}

@media (max-width: 600px) {
       .battleship-gameboard-player {
        grid-template-columns: repeat(10, 30px);
        grid-template-rows: repeat(10, 30px);
    }
    
    .battleship-gameboard-enemy {
        grid-template-columns: repeat(10, 30px);
        grid-template-rows: repeat(10, 30px);
    }

    .ships {
        flex-wrap: wrap;
        gap: 0.5em;
        margin: 1em auto;
    }
    
    .ship {
        padding: 0.5em;
    }
    
}