body {
    background-color: $color1;
    color: $color2;
    font-family: $font1;
}

.title {
    text-align: center;
    margin: 1em auto;

    h1 {
       font-size: 2rem;
       font-weight: $fw-bold; 
    }

    p {
        font-size: 1.5rem;
    }
    
}

.hero {
    margin: 1em auto;
    padding: 1em;
    max-width: 1000px;
    font-weight: $fw-semibold;
    .game-selections {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 2em;
        justify-items: center;
        padding: 4em;
        background-color: $color4;
        border-radius: 10px;
        font-family: $fw-bold;
        .blackjack {
            grid-row: 1;
            grid-column: 1;

        }

        .memory {
            grid-row: 1;
            grid-column: 2;
        }

        .tic-tac-toe {
            grid-column: 1;
            grid-row: 2;

        }

        .battleship {
            grid-column: 2;
            grid-row: 2;
        }
    }
}


form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    gap: 1em;
    max-width: 1000px;
    margin: 0 auto;
    .form-name {
        display: flex;
        align-items: flex-start;
        grid-column: 1 / span 2;
        grid-row: 1;
    }
    .form-email {
        display: flex;
        align-items: flex-start;
        grid-column: 3 / span 2;
        grid-row: 1;
    }
    .form-message {
        display: flex;
        align-items: flex-start;
        grid-column: 1 / span 4;
        grid-row: 2;
    }
        
    .btn-submit {
        grid-column: 2 / span 2;
        grid-row: 3;
    }
}

form {

    label {
        padding: 0.6rem 0;
        font-size: $fs-300;
        color: $color2;
        text-align: left;
        margin: 0 1rem;
    }

    input,
    textarea {
        width: 100%;
        padding: 0.8rem 0;
        font-size: $fs-200;
        color: $color2;
        margin-bottom: 2rem;
        border: none;
        border-bottom: 1px solid $color2;
        outline: none;
        background: transparent; 
    }

    .btn-submit {
        width: 75%;
        border: 1px solid;
        border-radius: 9999px;
        margin: 1rem auto;
        transition: all 0.2s ease-in;
        box-shadow: 0 0 20px 5px $color2;
        background-color: $color4;
        font-size: $fs-400;
        color: $color2;
        &:hover {
            background-color: $color2;
            color: $color4;
            box-shadow: 0 0 20px 5px $color2;

        }
    }
}

.game {
    font-size: $fs-500;
    border: black solid 1px;
    padding: 2em;
    border-radius: 20px;
    background-color: $color1;
}
