.title {
    text-align: center;
    margin: 1em auto;

    h1 {
       font-size: 2rem;
       font-weight: bold; 
    }

    p {
        font-size: 1.5rem;
    }
    
}

.hero {
    margin: 1em auto;
    padding: 1em;
    max-width: 1000px;
    .game-selections {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1em;
        justify-items: center;
        padding: 1em;

        .blackjack {
            grid-row: 1;
            grid-column: 1;
        }

        .memory {
            grid-row: 1;
            grid-column: 2;
        }

        .tic-tac-toe {
            grid-column: 1;
            grid-row: 2;

        }

        .battleship {
            grid-column: 2;
            grid-row: 2;
        }
    }
}


form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    gap: 1em;
    max-width: 1000px;
    margin: 0 auto;
    .form-name {
        grid-column: 1 / span 2;
        grid-row: 1;
    }
    .form-email {
        grid-column: 3 / span 2;
        grid-row: 1;
    }
    .form-message {
        display: flex;
        align-items: center;
        grid-column: 1 / span 4;
        grid-row: 2;
    }
        
    .btn-submit {
        grid-column: 2 / span 2;
        grid-row: 3;
    }
}

.game {
    font-size: 1.5rem;
    border: black solid 1px;
    padding: 1em;
    border-radius: 50%;
}
